<div class="flex flex-row max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-10">
<div class="basis-3/4">
  <h5 class="mb-2 text-md md:text-xl lg:text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= trip.source %> - <%= trip.destination %></h5>
  <p class="mb-3 text-sm md:text-md lg:text-lg font-normal text-gray-700 dark:text-gray-400"><%= I18n.l(trip.start_date, locale: :es, format: :long) %></p>
  <% if trip.profile.avatar.present? %>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= image_tag current_user.profile.avatar, class: "h-12 w-12 rounded-full" %></p>
    <% else %>
    <p class="mb-3 text-sm md:text-md lg:text-lg font-normal text-gray-700 dark:text-gray-400">Conductor: <%= trip.profile.username %></p>
  <% end %>
  <p class="mb-3 text-sm md:text-md lg:text-lg font-normal text-gray-700 dark:text-gray-400">Asientos disponibles: <%= trip.free_seats %></p>
  <% if trip.comments.present? %>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Comentarios: <%= trip.comments %></p>
  <% end %>
  </div>
  <div class="basis-1/4 mt-2">
    <ol class="relative border-l border-amber-200 dark:border-amber-700">                  
      <li class="mb-10 ml-4">
          <div class="absolute w-3 h-3 bg-amber-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-amber-900 dark:bg-amber-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-amber-400 dark:text-amber-500"><%= trip.source %></time>
      </li>
      <% if trip.stops.present? %>
      <% trip.stops.each do | stop | %>
        <li class="ml-4">
          <div class="absolute w-3 h-3 bg-amber-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-amber-900 dark:bg-amber-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-amber-400 dark:text-amber-500"><%= stop.place %></time>
        </li>
      <% end %>
    <% end %>  
      <li class="ml-4">
          <div class="absolute w-3 h-3 bg-amber-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-amber-900 dark:bg-amber-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-amber-400 dark:text-amber-500"><%= trip.destination %></time>
      </li>
    </ol>
  </div>
</div>

