<div class="flex flex-row">
  <div class="">
    <%= image_tag "car-driver-2.png" %>
  </div>
  <div class="basis-2/4">
    <h1 class="text-3xl mt-24 ml-24">Comparte coche de forma segura y sin exponer tus datos personales.</h1>
  </div>
</div>

<div class="flex flex-row mt-24">
  <div class="basis-2/4">
    <h1 class="text-3xl mt-24 mr-24">Viaja por toda España gratis y respetando el medioambiente.</h1>
  </div>
  <div class="basis-2/4">
    <%= image_tag "trip.png" %>
  </div>
</div>

<div class="flex flex-row mt-24">
  <div class="basis-1/4">
    <%= image_tag "payment.png" %>
  </div>
  <div class="basis-3/4">
    <h1 class="text-3xl mt-8">Nuestra filosofía es ofrecer viajes gratis, pero si quieres, puedes cobrar.</h1>
  </div>
</div>

<div class="flex flex-row mt-24">
  <div class="basis-3/4">
    <h1 class="text-3xl mt-24 mr-24">Para una mayor credibilidad puedes verificar tu usuario (tus datos permanecerán seguros).</h1>
  </div>
  <div class="basis-1/4 mt-16">
    <%= image_tag "verify.png" %>
  </div>
</div>

<div class="flex flex-row mt-24">
  <div class="basis-1/4">
    <%= image_tag "privacy.png" %>
  </div>
  <div class="basis-3/4">
    <h1 class="text-3xl mt-8">Te dejamos elegir que datos quieres mostrar a los demás usuarios.</h1>
  </div>
</div>